@config "../../tailwind.config.js";
@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    line-height: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button {
    cursor: pointer;
    background: transparent;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    margin: 0;
  }

  @font-face {
    font-family: "Neue Montreal";
    src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue Metana";
    src: url("/fonts/NeueMetana-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Wingdings";
    src: url("/fonts/WingdingsRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .no-select {
    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-touch-callout: none;

    -webkit-tap-highlight-color: transparent;
  }
}
@utility container {
  margin-inline: auto;
  inline-size: 100%;
  padding-inline: 1rem;

  @media screen and (min-width: 640px) {
    padding-inline: 2rem;
  }

  @media screen and (min-width: 1024px) {
    inline-size: 1024px;
    padding-inline: 4rem;
  }

  @media screen and (min-width: 1280px) {
    inline-size: 1280px;
    padding-inline: 5rem;
  }

  @media screen and (min-width: 1536px) {
    inline-size: 1440px;
    padding-inline: 6rem;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Neue Montreal", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#portfolio,
#contacts {
  scroll-margin-top: 80px;
}

#about {
  scroll-margin-top: 60px;
}

@media screen and (max-width: 640px) {
  #portfolio {
    scroll-margin-top: 300px;
  }
}
